$html-font-size: 16px;

$main-color: #FFEDED; //10103B
$secondary-color: #3D59E9;
$card-color: #2AB896;
$white: #fff;

$breakpoint1200: 'max-width: 1200px';
$breakpoint942: 'max-width: 942px';
$breakpoint768: 'max-width: 768px';
$breakpoint1200: 'max-width: 1200px';